@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize ($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;


/* header
----------------------------------------------------------------*/

header {
    background: $gray_blue;
    
    #header_in {
        padding-top: 10px;
        padding-bottom: 4px;
    }
    
    @media (max-width: 549px) {
        .logo {
            width:190px;
        }
        
        .navi {
            width: 40px;
            float: right;
        }
    }
    
    .sp_navi_li {
        width: 180px;
        position: absolute;
        top: 50px;
        right: 2%;
        border: 1px solid #eee;
        background: white;
        margin: 0;
        padding: 0;
        display: none;
        z-index: 100;
        
        li {
            
            list-style: none;
            margin: 0;
            padding: 0;
            
            a{
                display: block;
                padding: 10px 8px;
                border-bottom: 1px solid #eee;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
    
    @media (min-width: 550px) {
        .sp_navi {
            display: none;
        }
        
        #header_in{
            padding: 15px 0 10px 0;
        }
        
        .pc_navi_li{
            margin: 0;
            padding: 0;
        
            li {
                list-style: none;
                margin: 5px 0 0 0;
                padding: 0;
            
            
                a {
                    color: #626262;
                    text-decoration: none;
                    font-weight: bold;
                    @include fontsize(14);
                    float: left;
                    padding-right: 10px;
                }
            
                a:hover {
                    color: $blue1;
                }
            }
            // li
        
            li.navi_toppage a {
                background-repeat: no-repeat;
                display: inline-block;
                line-height: 40px;
                padding-left: 50px;
                
                    background-image: url("../images/top/navi_top.png");
                    background-size: 40px 40px;
                    
                @media screen and (-webkit-min-device-pixel-ratio:2),
                                  (min-resolution:2dppx){
                                      
                        background-image: url("../images/top/navi_top@2x.png");
                        }
            }
            // .li.navi_toppage a
    
            li.navi_news a {
                background-repeat: no-repeat;
                display: inline-block;
                line-height: 40px;
                padding-left: 50px;
                
                    background-image: url("../images/top/navi_news.png");
                    background-size: 40px 40px;
                    
                @media screen and (-webkit-min-device-pixel-ratio:2),
                                  (min-resolution:2dppx){
                                      
                        background-image: url("../images/top/navi_news@2x.png");
                        }
            }
            // .li.navi_news a
            
            li.navi_company a {
                background-repeat: no-repeat;
                display: inline-block;
                line-height: 40px;
                padding-left: 50px;
                
                    background-image: url("../images/top/navi_company.png");
                    background-size: 40px 40px;
                    
                @media screen and (-webkit-min-device-pixel-ratio:2),
                                  (min-resolution:2dppx){
                                      
                        background-image: url("../images/top/navi_company@2x.png");
                        }
            }
            // .li.navi_company a
        }
        // .pc_navi_li
    }
    // min-width: 550px
    
    @media (max-width: 549px) {
        .pc_navi {
            display: none;
        }
    }
}

/* cover_area
----------------------------------------------------------------*/

#cover_area {
    text-align: center;
    padding: 80px 0;

    background-image: url("../images/top/cover.jpg");
    background-size: cover;
    
     //retina_bg
    @media screen and (-webkit-min-device-pixel-ratio:2),
                      (min-resolution: 2dppx){
        background-image: url("../images/top/cover@2x.jpg");
    }
    
    //PC表示
    @media (min-width:550px) {
        
        text-align: left;
        height: 420px;
        padding: 0;
        
        img{
            margin-top: 180px;
            margin-left: 70px;
        }
    }
}

/* service_area
----------------------------------------------------------------*/

#service_area {
    
    padding-top: 20px;
    
    @media (min-width: 550px){
        padding-top: 30px;
    }
    //min-width: 550px
    
    .columns{
        
        color: #626262;
        
        .service_title{
            @include fontsize(18);
            font-weight: bold;
            margin-top: 8px;
        }
        
        p{
            
            @include fontsize(15);
            margin-top: 10px;
        }
        
        @media (min-width: 550px){
            
            .service_title{
                @include fontsize(16);
            }
            
            p{
                @include fontsize(14);
            }
        }
        // min-width: 550px
    }
    // .columns
}
// #service_area

/* news_area
----------------------------------------------------------------*/

#news_area{
    
    background-color: $gray_blue;
    
    @media (min-width: 550px){
        
        .container{
            
            padding: 0 10% 50px 10%;
        }
    }
    // min-width: 550px
    
    .news_title{
        
        text-align: center;
        @include fontsize(26);
        color: $blue1;
        padding: 15px 0 10px 0;
        font-weight: bold;
        letter-spacing: 0.2rem;
    }
    
    .news_lists{
        
        li{
            list-style: none;
            @include fontsize(15);
            
            span{
                color: $blue1;
                font-weight: bold;
                display: block;
                margin-bottom: 3px;
            }
        }
        // li
    }
    // .news_lists
    
    @media (min-width: 550px){
        
        .news_title {
            
            //text-align: center;
            @include fontsize(22);
            //color: $blue1;
            padding: 50px 0 41px 0;
            //letter-spacing: 0.2rem;
        }
        
        .news_lists{
            
            li{
                //list-style: none;
                @include fontsize(14);
                margin-bottom: 20px;
            
                span{
                    //color: $bllue1;
                    //font-weight: bold;
                    display: inline;
                    margin-bottom: 0;
                }
                
            }
            //li
            
        }
        // .news_lists
        
    }
    // min-width550px
}
//#news_area

/* footer
----------------------------------------------------------------*/

footer{
    
    background-color: $blue1;
    color: #fff;
    padding-top: 20px;
    
    @media (max-width: 549px){
        
        .container{
            
            margin: 0;
            padding: 0;
        }
        
        .sp{
            
            padding: 0 6%;
            margin: 0 auto;
        }
        
        .foot_navi{
            
            margin-top: 20px;
            
            li{
                list-style: none;
                margin-bottom: 1px;
                
                a{
                    color: $blue1;
                    background-color: $gray_blue;
                    display: block;
                    text-align: center;
                    font-weight: bold;
                    text-decoration: none;
                    @include fontsize(16);
                    padding: 16px 0;
                }
            }

        }
        // .foot_navi
    }
    // max-width:549
    
    .foot_address{
        
        @include fontsize(16);
        padding-top: 10px;
    }
    
    .copy{
        
        text-align: center;
        @include fontsize(11);
        color: #b2e1ea;
    }
    
    @media (min-width: 550px){
        
        padding-top: 30px;
        
        .foot_address{
            padding: 0px;
            @include fontsize(12);
        }
        
        .foot_navi{
            
            float: right;
            
            li{
                list-style: none;
                
                background-repeat: no-repeat;
                background-position: left center;
                
                display: inline-block;
                float: left;
                margin-right: 10px;
                @include fontsize(11);
                
                background-image: url("../images/top/foot_arroehead.png");
                background-size: 4px 6px;
                
                //ここからretina_bg
                @media screen and (-webkit-min-device-pixel-ratio:2),
                                  (min-resolution: 2dppx){
                                      
                    background-image: url("../images/top/foot_arroehead@2x.png");
                }
                // retina_bg
            }
            // li
            
            a{
                color: white;
                padding-left: 10px;
                text-decoration: none;
            }
            
            a:hover{
                
                color:$gray_blue;
            }

            
        }
        // .foot_navi
        
        .copy{
            margin-top: 30px;
        }
    }
    // min-width: 550px
}
// footer

h1{
  margin: 0;
  padding: 0;
}



/* news.html
----------------------------------------------------------------*/


/* #sub_cover
----------------------------------------------------------------*/

#sub_cover {
    text-align: center;
    padding: 40px 0;
    height: 20px;

    background-image: url("../images/news/sub_cover.jpg");
    background-size: cover;
    
     //retina_bg
    @media screen and (-webkit-min-device-pixel-ratio:2),
                      (min-resolution: 2dppx){
        background-image: url("../images/news/sub_cover@2x.jpg");
    }
    
    h2{
        margin: 0;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        
        //PC表示
        @media (min-width:550px) {
        
        font-size: 3.2rem;
        }
    }
    
    //PC表示
    @media (min-width:550px) {
        
        text-align: left;
        height: 40px;
        padding: 80px 0;
    }
}
// #sub_cover

/* #contents
----------------------------------------------------------------*/

#contents{
    
    padding: 20px 0 0 0;
    
    
    @media (min-width: 550px){
        
        padding: 35px 0 70px 0;
        
        .container{
            padding: 0;
        }
    }
    // min-width: 550px
    
    h2{
        
        @include fontsize(26);
        color: $blue1;
        padding: 0 0 10px 0;
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: solid 3px $blue1;
    }
    
    .news_li{
        
        li{
            list-style: none;
            @include fontsize(15);
            margin-bottom: 10px;
            
            span{
                color: $blue1;
                font-weight: bold;
                display: block;
                margin-bottom: 3px;
            }
        }
        // li
    }
    // .news_li
    
    @media (min-width: 550px){
        
        #main {
            padding-right: 20px;
            
            h2 {
                
                //text-align: center;
                @include fontsize(20);
                font-size: 2rem;
                //color: $blue1;
                padding: 0 0 20px 0;
                margin: 0 0 20px 0;
                //letter-spacing: 0.2rem;
            }
            
            .news_li{
                
                li{
                    //list-style: none;
                    @include fontsize(15);
                    padding-bottom: 5px;
                
                    span{
                        //color: $bllue1;
                        //font-weight: bold;
                        display: inline;
                        padding-right: 10px;
                        margin-bottom: 0;
                    }
                    
                }
                //li
                
            }
            // .news_li
        }
        //#main
    }
    // min-width550px
    
    #sidebar {
    
        .pc_sidemenu{
            
            display: none;
            
            h3{
                background-color: #f3f9fb;
                color: $blue1;
                padding: 15px;
                font-size: 1.4rem;
                letter-spacing: 2px;
                font-weight: bold;
                margin: 0;
            }
            
            ul{
                list-style:none;
                margin-bottom: 25px;
            
                li{
                    padding: 10px 10px 10px 20px;
                    border-bottom: solid 1px #e5e5e5;
                    margin: 0;
                    background-image: url("../images/news/side_arrow.png");
                    background-size: 4px 8px;
                    background-repeat: no-repeat;
                    background-position: 8px 50%; 
                    
                    //ここからretina_bg
                    @media screen and (-webkit-min-device-pixel-ratio:2),
                                      (min-resolution: 2dppx){
                                          
                        background-image: url("../images/news/side_arrow@2x.png");
                    }
                    // retina_bg
                    
                    a{
                        text-decoration: none;
                    }
                 }
                 //li
            }
            //ul
            
            @media (min-width: 550px){
                display: block;
            }
        }
        // .pcsidemenu
    }
    // #sidebar
}
// #contents


/* company.html
----------------------------------------------------------------*/

/* #contents
----------------------------------------------------------------*/

#contents{
    
    #main{
        
        .company_title{
            margin: 0;
            padding-top: 0;
            padding-bottom: 15px;
            
            @media (min-width: 550px){
                padding-bottom: 20px;
            }
        }
        tr{
            color: #626262;
            
            th{
                padding: 20px 20px 20px 0;
                font-size: 1.4rem;
                border-bottom: 1px solid #e1e1e1;
            }
            td{
                padding: 20px 0 20px 0;
                font-size: 1.4rem;
                border-bottom: 1px solid #e1e1e1;
            }
        }
        
    }
}

//#main